.weather-container {
  padding: 1rem;
  background-color: rgba(157, 165, 255, 0.448);
  max-width: 24rem;
  margin: 1rem auto;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.125rem;

    span {
      font-weight: 600;
    }
  }
}
